doctype html
html()
	head
		// referrer
		meta(name='referrer' content='origin')
		meta(name="description",content=`${description||'no descript'}`)
		meta(name="keywords",content=`${keywords||'nalinv'}`)
		meta(name="baidu-site-verification", content='codeva-j4C4HnD3eL')


		//  Title 
		title #{title||'ISF'}
		//  Required Meta Tags Always Come First 
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no, user-scalable=no')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		// referrer
		meta(name='referrer' content='origin')
		//  Favicon 
		link(rel='shortcut icon' href=websiteConfig.global.tabLogo )
		//  Font 
		//  CSS Implementing Plugins 
		//  bundlecss:vendor [@@autopath] 
		link(rel='stylesheet' href='/assets/vendor/bootstrap-icons/font/bootstrap-icons.css')
		link(rel='stylesheet' href='/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css')
		//- link(rel='stylesheet' href='/assets/vendor/swiper/swiper-bundle.css')
		//  CSS Unify Template 
		//  bundlecss:theme [@@autopath] @@vars.version 
		link(rel='stylesheet' href='/assets/css/theme.css')
		link(rel='stylesheet' href='/assets/scss/unify/buttons/_button-soft.scss')
		link(rel="stylesheet" href="/assets/vendor/hs-video-bg/dist/hs-video-bg.min.css")
		link(rel="stylesheet" href='/assets/css/font.css')

		//- 首页
		link(rel="stylesheet" href="/assets/css/home.css")
		//- 产品
		link(rel="stylesheet" href="/assets/css/product.css")

	body

		// Header
		include inc/menu
		// End Header

		block banner

		block content

		include inc/footer
	script(src='/assets/js/jquery.js')
	
	script(src='/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js')
	script(src='/assets/vendor/hs-video-bg/dist/hs-video-bg.min.js')
	//  JS Implementing Plugins 
	//  bundlejs:vendor [@@autopath] 
	script(src='/assets/vendor/hs-header/dist/hs-header.min.js')
	script(src='/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js')
	script(src='/assets/js/hs.bs-validation.js')
	script(src='/assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js')
	script(src='/assets/vendor/hs-go-to/dist/hs-go-to.js')
	script(src='/assets/vendor/swiper/swiper-bundle.js')
	//  JS Unify 

	script(src='/assets/js/hs.core.js')
	//- lazy
	script(src='/assets/js/lazyLoad.js')
	// WA
	script(async, src="https://abc.nit.pub/nwa/script.js", data-website-id="248cd3c7-96fd-4b4e-b406-403fd9728836")
	//  JS Plugins Init. 
	script.
		(function() {
			// INITIALIZATION OF GO TO
			// =======================================================
			new HSGoTo('.js-go-to')
			//- $("img.lazyload").lazyload()
			})()
	//- 菜单
	script.
			(function() {
			// INITIALIZATION OF MEGA MENU
			// =======================================================
			const megaMenu = new HSMegaMenu('.js-mega-menu', {
			desktop: {
			position: 'left'
			}
			})
			// INITIALIZATION OF HEADER
			// =======================================================
			new HSHeader('#header').init()
			})()

	
	script.
		(function() {
		// INITIALIZATION OF VIDEO BG
		// =======================================================
		document.querySelectorAll('.js-video-bg').forEach(item=> {
			new HSVideoBg(item).init()
		})
		})()



	//- 所有a标签增加语言前缀
	script.
		//- 切换语言逻辑
		const handleLangChange=(data)=> {
			window.localStorage.setItem('NALINV-LANG',data)
			const lang = window.location.href.split('/')[3]
			window.location.href = '/'+data+'/index.html'
			}

	block script